@{
    ViewBag.Title = "ShowDatasetList";
}

@section Information
{
}


<table id="dsList">
    <tr>    
        <td id="name"></td>
        <td><b> contributed in dataset</b></td>
    </tr>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        //console.log(w);

        var queryString = decodeURIComponent(window.location.search);
        queryString = queryString.substring(1);
        var queries = queryString.split("&");
        console.log("queries:", queries);
        var name = queries[0].split("=");
        document.getElementById("name").innerHTML = "<b>"+name[0]+"</b>";
        var idList = queries[1].split("=");
        var ids = idList[0].split(",");
        var table = document.getElementById("dsList");
        console.log("ids, length: ", ids, ids.length);
        for (i = 1; i < ids.length; ++i) {
            console.log("i, ids[i]: ",i, "-",ids[i]);
            var row = table.insertRow();
            //row.setAttribute("id", "pf");
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell2.innerHTML = ids[i];
            console.log("ids[", i, "]: ", ids[i]);
            cell2.setAttribute("style", "cursor: pointer;");
            var func = "OpenIds('" + ids[i] + "')";
            cell2.setAttribute("onClick", func);
        }

    });

    function OpenIds(id) {
        var url = '@Url.Action("Showdata", "data", new { area = "ddm" })'+"/"+id;;        
        console.log("url:", url);
        window.open(url, '_blank');
    }

</script>


